###############################################################################
#Example config for custom_backup
#Lines starting with '#' are comments
#All backups are stored in one file, feilds are : deliminated and end with
#newline.

#<BID>:<Action>:<Program>:<Arguments>:<Source>:<Backup>:<cd>:<UMASK>

# BID       : Name of Backup used to identify, when script is called
#           : capitalization are treated as different entries (foo != Foo)
# Action    : Name of supported backup action (INITIAL,ONGOING,SHOW,RESTORE)
#             Add multiple actions together seperated by , if same
# Program   : program used for backup. Must be a program in prgm.config
# Arguments : list of Arguments to be passed to program.
#             Default is blank
# Source    : Path to source of backups. Can be directory or file_name
#             Default is blank
# Backup    : Path to backup. Can be directory or file_name
#             Default is blank
# cd        : Absolute path to change directory before running backup
#             Default is /
# Umask     : Set umask before running program
#             Default is not to change umask

# If defualt is specified you can omit field
# DO-NOT use `~` in absolute path use $HOME `instead`
###############################################################################

tar_local:INITIAL:tar:cPf:$HOME/important_files/:$HOME/Example_backup::
tar_local:ONGOING:tar:uPf:$HOME/important_files/:$HOME/Example_backup::
tar_local:RESTORE:tar:xfpP::$HOME/Example_backup::
tar_local:SHOW:tar:tPf::$HOME/Example_backup::

rsync_local:INITIAL,ONGOING,RESTORE:rsync:-azq:$HOME/important_files/:$HOME/Example_backup/::
rsync_local:SHOW:ls:-l::$HOME/Example_backup/::

zip_local:INITIAL:zip:-rq:$HOME/important_files/:$HOME/Example_backup.zip::
zip_local:ONGOING:zip:-uq:$HOME/important_files/:$HOME/Example_backup.zip::
zip_local:RESTORE:unzip:-Xqo::$HOME/Example_backup.zip::
zip_local:SHOW:unzip:-Z::$HOME/Example_backup.zip::

