###############################################################################
#Example config for custom_backup
#Lines starting with '#' are comments
#All backups are stored in one file, feilds are : deliminated and end with
#newline.

#<BID>:<Action>:<Program>:<Arguments>:<Source>:<Destination>:<cd>:<UMASK>

# BID         : Name of Backup used to identify, when script is called
# Action      : Name of supported backup action (Initial,ONGOING,SHOW,RESTORE)
# Program     : program used for backup. Must be a program in prgm.config
# Arguments   : list of Arguments to be passed to program.
#               Default is blank
# Source      : Path to source of backups. Can be directory or file_name
#               Default is blank
# Destination : Path to backups Destination. Can be directory or file_name
#               Default is blank
# cd          : Absolute path to change directory before running backup
#               Default is /
# Umask       : Set umask before running program
#               Default is not to change umask

# If defualt is specified you can omit field
# DONOT use `~` in absolute path use $HOME `instead`
###############################################################################
