###############################################################################
#Example programs list for custom_backup
#Lines starting with '#' are comments
#All programs are stored in one file, feilds are : deliminated and end with
#newline.

#All entries begin with <ACTION>:<Program> rearange the other option to make
#work with command line or omit

#Options:
# Action      : Name of supported backup action (Initial,ONGOING,SHOW,RESTORE)
# Program     : program used for backup.
# Arguments   : list of Arguments to be passed to program.
# Source      : Path to source of backups. Can be directory or file_name
# Destination : Path to backups Destination. Can be directory or file_name
###############################################################################
