###############################################################################
#Example programs list for custom_backup
#Lines starting with '#' are comments
#All programs are stored in one file, feilds are : deliminated and end with
#newline.

#All entries begin with <program>:<action> rearange the other option to make
#work with command line or omit

# Options:
# program     : program used for backup.
# action      : Name of supported backup action (INITIAL,ONGOING,SHOW,RESTORE)
#               Add multiple actions together seperated by, if sam
# arguments   : list of Arguments to be passed to program.
# source      : Path to source of backups. Can be directory or file_name
# backup      : Path to backup. Can be directory or file_name
###############################################################################

#tar
tar:INITIAL,ONGOING:arguments:backup:source
tar:RESTORE,SHOW:arguments:backup

#rsync
rsync:INITIAL,ONGOING:arguments:source:backup
rsync:RESTORE:arguments:backup:source
ls:SHOW:arguments:backup  #test commment

#zip/unzips
zip:INITIAL,ONGOING:arguments:backup:source
unzip:RESTORE,SHOW:arguments:backup
