###############################################################################
#Example programs list for custom_backup
#Lines starting with '#' are comments
#All programs are stored in one file, feilds are : deliminated and end with
#newline.

#All entries begin with <action>:<program> rearange the other option to make
#work with command line or omit

#Options:
# action      : Name of supported backup action (INITIAL,ONGOING,SHOW,RESTORE)
#               Add multiple actions together seperated by, if same
# program     : program used for backup.
# arguments   : list of Arguments to be passed to program.
# source      : Path to source of backups. Can be directory or file_name
# backup      : Path to backup. Can be directory or file_name
###############################################################################

#tar
INITIAL,ONGOING:tar:arguments:backup:source
RESTORE,SHOW:tar:arguments:backup

#rsync
INITIAL,ONGOING:rsync:arguments:source:backup
RESTORE:rsync:arguments:backup:source
SHOW:ls:arguments:backup

#zip/unzips
INITIAL,ONGOING:zip:arguments:backup:source
RESTORE,SHOW:unzip:arguments:backup
